.example {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #2f2f37;
  max-width: 960px;
  padding: 16px;
}

.example code {
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  background-color: #ff6b0a;
  color: #fff;
  padding: 2px 6px;
  border-radius: 2px;
}

.example .background {
  height: 240px;
  // ❗️❗️❗️ The path to images from a SASS file
  // is always the same as from the css folder.
  background-image: url('../images/logo.png');
  background-size: cover;
  background-position: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  }
form#search-form {
  display: flex;
  gap: 30px;
  margin: 20px;
  font-size: 24px;
}
button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  padding: 10px;
  background: antiquewhite;
  border-radius: 4px;
  cursor: pointer;
  border: black solid 1px;
}

a.photo-card {
  border: #2f2f37 solid 2px;
  margin-bottom: 20px;
  color: black;
  font-size: 14px;
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
  background-color: darkcyan;
}

.info{
  :hover, :focus{
color: #ff6b0a;
  }
}
.is-hiden{
  opacity: 0;
}